td {
  border-style: solid;
  border-color: black;
  width: 2em;
  height: 2em;
  text-align: center;
}

table {
  width: 6 rem;
  height: 18 px;
  align-items: center;
  margin: 0px auto;
  border-spacing: 0;
  border-collapse: collapse;
}

#root {
  text-align: center;
}

p,
button,
td {
  font-size: 25px;
}
